.main-container {
  height: 100%;
  width: 100%;

  .card-container {
    display: flex;
    flex-wrap: wrap;
    .cat-card {
      margin: auto;
      margin-bottom: 20px;
    }
  }
  .floating-buttons {
    position: fixed;
    right: 0;
    bottom: 25%;
    .img-buttons {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 40px;
      height: 40px;
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26),
        0 2px 10px 0 rgba(0, 0, 0, 0.16);
      background-color: #fafafa;
      border-radius: 40px;
      margin: 20px;
      color: gray;
      transition: transform 200ms ease-in-out 0s;
      &:hover {
        background-color: #f54a29;
        color: white;
        transform: scale(1.2);
      }
    }
  }
}
